.signin-menu-route{
    /* background: url("bg-pattern.png"),linear-gradient(to left,green,black); */
    background: url("https://images.unsplash.com/photo-1512429234305-12fe5b0b0f07?ixlib=rb-0.3.5&s=62d3d9c7deb236aa309ea52f8cd6cf4e&auto=format&fit=crop&w=967&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.signin-form{
    text-align: center;
    display: flex;
    height:95vh;
}
.menu-txt{
    margin-top:10%;
}
.form-control{
    display:inline-block;
    width:20%;
}
.btn{
    border-radius: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #f53240;
    color:#ffff;
    padding: 10px 30px 10px 30px;
}
.btn:hover, .btn:focus, .btn.focus{
    background-color: #f53240;
    border-color: #f53240;
}

/* #431c5d */

/* Media Queries */
/* @media only screen and (min-width: 996px) {
    #root{
        height:100vh;
    }
} */
@media only screen and (max-width: 996px) {
    .form-control{
        display:inline-block;
        width:80%;
    }
    .signin-form{
        display: block;
    }
    .iphone-photo{
        height: 400px;
    }
    .menu-txt{
        width:100%;
        margin-right: 0%;
    }
}