.features-section{
    text-align: center;
    background-color: #ffff;
}
.glyphicon{
    font-size: 96px;
    color: #f53240;
}
.features-header{
    margin-bottom: 10%;
}
.menu-sub{
    margin-top: 5%;
}